@import "tailwindcss";

:root {
  --background: #0B1D3A;
  --foreground: #00E5FF;
  --tertiary-color: #E84393;
  --secondary-text-color: #FFFFFF;
  --medium-bold: 600;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-tertiary: var(--tertiary-color);
  --font-grotesk: var(--font-space-grotesk);
  --font-orbitan: var(--font-orbitron)
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-space-grotesk);
}
