.container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.card {
  width: 80%;
  height: 40rem;
  border-radius: 1.5rem;
  background: color-mix(in srgb, var(--tertiary-color) 5%, transparent);
  border: 1px solid color-mix(in srgb, var(--foreground) 10%, transparent);
  display: grid;
  grid-template-columns: repeat(auto-fill, 12rem);
  grid-auto-rows: 12rem;
  justify-content: center;
  align-content: start;
  gap: 1.5rem;
  padding: 1.5rem;
  overflow-y: auto;
}
